header {
    box-shadow: 0 1px 10px #777;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
a {
    text-decoration: none !important;
    color: inherit !important;
    font-family: inherit ;
    margin: 5px 10px;
}